#characterContainer{
    overflow-y: auto;
}

.card{
    width: 300px;
}

.showInput{
    height: 150px !important;
    transition: 0.2s;
}

.hideInput{
    height: 70px;
    transition: 0.2s;
}

#sideBar{
    width: 550px;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    position: fixed;
    overflow-y: auto;
}

.hideSideBar{
    animation: hide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease;
}

.showSideBar{
    animation: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease;
}

.episodeContainer{
    border-bottom: 1px solid #a9f3fd;
}

@keyframes hide{
    from {left: 0%; display: block;}
    to {left: -100%; display: none;}
}

@keyframes show{
    from {left: -550px; display: none;}
    to {left: 0%; display: block;}
}

ul{
    list-style: none;
    padding: 0px;
}
