/*  
    Palettak:
        https://www.color-hex.com/color-palette/1025591 
        https://www.color-hex.com/color-palette/10375
*/

*{
    color: #a9f3fd !important;
}

.card{
    transition: 0.5s;
    background-color: #1c3042;
}

.card:hover{
    transition: 0.5s;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 15px 6px #a9f3fd;
}

#header{
    background-color: #1c3042;
    border-bottom: 2px solid #a9f3fd;
}

.btn, .btn-outline-dark{
    border: 1px solid #a9f3fd;
    color: #a9f3fd !important;
}

.btn:hover, .btn-outline-dark:hover{
    border: 1px solid #a9f3fd;
    color: #1c3042 !important;
    background-color: #a9f3fd;
}