#logoImg{
    width: 75px;
}

#homePage{
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#characterContainer{
    overflow-y: auto;
}

.card{
    width: 375px;
}

.showInput{
    height: 150px !important;
    transition: 0.2s;
}

.hideInput{
    height: 75px;
    transition: 0.2s;
}

#header{
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}