#logoImg{
    width: 75px;
}

body{
    background-image: url("images/characterListBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#characterContainer{
    overflow-y: auto;
}

.card{
    width: 300px;
}

.showInput{
    height: 150px !important;
    transition: 0.2s;
}

.hideInput{
    height: 75px;
    transition: 0.2s;
}

/* #header{
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
} */

#sideBar{
    width: 550px;
    background-color: white;
    border-right: 4px solid black;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    position: fixed;
    overflow-y: auto;
}

.hideSideBar{
    animation: hide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease;
}

.showSideBar{
    animation: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease;

}

@keyframes hide{
    from {left: 0%; display: block;}
    to {left: -100%; display: none;}
}

@keyframes show{
    from {left: -550px; display: none;}
    to {left: 0%; display: block;}
}

ul{
    list-style: none;
    padding: 0px;
}
