<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <img src="../../assets/images/waving-morty.gif" alt="">
    </div>

    <div class="col-lg-6">
      <img src="../../assets/images/logo.png" alt="" style="width: 550px;">
      <h1>Rick and Morty API Page</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">My favourite characters:</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>

</div>
